.top-title {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  line-height: 40px;
  padding: 0;
  margin: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 1;
}